<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.migration.dao.slave.mapper.ScdummyMapper">

    <select id="queryCashBalanceSqlList" resultType="com.example.migration.pojo.export.vo.CashBalanceSQLVo">
        ${sql}
    </select>

    <select id="queryInstrumentSqlList" resultType="com.example.migration.pojo.export.vo.InstrumentSQLVo">
        ${sql}
    </select>

</mapper>